<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .red {
    color: red;
  }

  .green {
    color: green;
  }
</style>

<body>
  <div id="root">
    <button @click="change">change</button>
    <input type="text" v-model="data">
    <div>{{i}} -- {{v}}</div>
    <div>computed = {{myc}}</div>
    <ul>
      <li v-for="(v,i) in list">
        {{i}} -- {{ v.name}}
      </li>
    </ul>
  </div>
</body>
</script>

</html>